.upload_button_container {
  text-align: center;
  margin-top: 40px;
}
.btnIzq {
  background-color: #deae4a;
  margin-right: 1%;
  color: #313947;
}
.tabla {
  margin-top: 5%;
  margin-left: 25%;
  text-align: center;
  align-items: center;
}
