<div class="upload_button_container">
  <button
    *ngIf="!municipality"
    mat-raised-button
    (click)="onClick()"
    class="btnIzq"
  >
    <mat-icon>file_upload</mat-icon>
    Subir Dataset</button
  ><button
    *ngIf="municipality"
    mat-raised-button
    (click)="onClick()"
    class="btnIzq"
  >
    <mat-icon>file_upload</mat-icon>
    Subir Dataset de Municipio de
    {{ region }}
  </button>
  <input
    type="file"
    #fileUpload
    id="fileUpload"
    name="fileUpload"
    multiple="multiple"
    accept="*/*"
    style="display: none"

  />
  <br />
  <span>{{ fileName }}</span>
</div>
