.ini {
  //background-color: #313947;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.image {
  align: center;
}
.title2 {
  //color: #313947;
  //color: white;
  color: #deae4a;
  text-align: center;
}
.form-letter {
  //color: #313947;
  //color: #DEAE4A;
  color: white;
}
.form-input {
  color: white;
  //color: #313947;
  //color: #DEAE4A;
}
.form-letter1 {
  //color: #313947;
  color: white;
}
.btnizq {
  background-color: #deae4a;
  margin-right: 5%;
  color: #313947;
}
.ini {
  //background-color: #313947;
  //display: flex;
  //justify-content: center;
  //flex-direction: column;
  //align-items: center;
}
.buttons {
  //display: flex;
  //background-color: salmon;
  margin-left: 23%;
}
.colorback {
  background-color: #313947;
}
.mat-form-field {
  width: 80%;
}
