/* basic reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* best practice for inheritance*/
}
/* general configuration */
html {
  /* font-size: 10px; bad practice*/
  font-size: 62.5%;
  // this defines what 1rem is !!!
  /* 10px/16px */

  height: 100%;
}
body {
  box-sizing: border-box;
  height: 100%;
}
