/* basic reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* best practice for inheritance*/
}
/* general configuration */
html {
  /* font-size: 10px; bad practice*/
  font-size: 62.5%;
  // this defines what 1rem is !!!
  /* 10px/16px */

  height: 100%;
}
body {
  box-sizing: border-box;
  height: 100%;
}
.swal2-popup {
  font-size: 20px !important;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #313947 !important;
  color: #fff !important;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
