<div class="data_types">
  <mat-button-toggle-group
    class="buttons_configs"
    #data_view="matButtonToggleGroup"
    [(ngModel)]="circleDisplayType"
    (click)="changeData()"
  >
    <mat-button-toggle value="confirmed" aria-label="Text align left">
      Casos Confirmados
    </mat-button-toggle>
    <mat-button-toggle value="deaths" aria-label="Text align center">
      Muertes
    </mat-button-toggle>
    <mat-button-toggle value="recovered" aria-label="Text align center">
      Recuperdados
    </mat-button-toggle>
    <mat-button-toggle value="vaccined" aria-label="Text align center" disabled>
      Vacunados
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div id="worldMap" class="mat-elevation-z8"></div>

<!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->
