<div class="chart_container mat-elevation-z8">
  <mat-button-toggle-group
    class="buttons_configs"
    #chart_view="matButtonToggleGroup"
    value="line"
  >
    <mat-button-toggle
      value="line"
      aria-label="Text align left"
      matTooltip="Grafico de Linea"
    >
      <mat-icon>timeline</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="bar"
      aria-label="Text align center"
      matTooltip="Grafico de Barra"
    >
      <mat-icon>bar_chart</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group
    class="buttons_configs"
    #data_view="matButtonToggleGroup"
    value="acumulated"
  >
    <mat-button-toggle value="acumulated" aria-label="Text align left">
      Datos Acumulados
    </mat-button-toggle>
    <mat-button-toggle value="historic" aria-label="Text align center">
      Datos Historicos
    </mat-button-toggle>
  </mat-button-toggle-group>
  <canvas
    baseChart
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="chartLegend"
    [chartType]="chart_view.value"
  >
  </canvas>
  <button mat-button mat-raised-button color="primary" (click)="download()">
    Descargar DataSet
  </button>
</div>
