<div class="grid_container">
  <div class="grid_hearder">
    <h1>{{ depto.name }}</h1>
  </div>
  <div class="setting_view">
    <div class="view_change">
      <mat-button-toggle-group #view_select="matButtonToggleGroup" value="map">
        <mat-button-toggle
          value="map"
          aria-label="Text align left"
          matTooltip="Vista de Mapa"
        >
          <mat-icon>map</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          value="table"
          aria-label="Text align center"
          matTooltip="Vista de Tabla"
        >
          <mat-icon>table_view</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          value="chart"
          aria-label="Text align center"
          matTooltip="Vista de Gráfico"
        >
          <mat-icon>show_chart</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="select_insight">
      <mat-form-field appearance="fill">
        <mat-label>Detalles</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>Ninguno</mat-option>
          <mat-option value="province">Provincias</mat-option>
          <mat-option value="municipality">Municipio</mat-option>
        </mat-select>
      </mat-form-field>
      <p>You selected: {{ selected }}</p>
    </div>
    <div class="details">
      <h1 name="total">1232132</h1>
      <label for="total">Casos Totales</label>
      <h2 name="curados">123123132</h2>
      <label for="curados">Muertes</label>
      <h2 name="curados">12321321</h2>
      <label for="curados">Recuperados</label>
      <h2 name="curados">6545646546</h2>
      <label for="curados">Activos</label>
    </div>
  </div>
  <div class="data_view">
    <div class="map_view" *ngIf="view_select.value == 'map'">map</div>
    <div class="table_view" *ngIf="view_select.value == 'table'">
      <app-table
        [displayedColumns]="displayedColumns"
        [data]="deptos"
      ></app-table>
    </div>
    <div class="chart_view" *ngIf="view_select.value == 'chart'">
      <app-chart></app-chart>
    </div>
  </div>

  <!-- <mat-grid-list cols="4" rows="2" rowHeight="100px">
    <mat-grid-tile class="setting_view" [colspan]="1">
      
    </mat-grid-tile>
    <mat-grid-tile class="data_view" [colspan]="3" [rowspan]="2">
      <div>hola</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
     </mat-grid-tile
    >
  </mat-grid-list> -->
</div>
