<div class="grid_container">
  <div class="grid_hearder">
    <h1>{{ depto.name }}</h1>
  </div>
  <div class="setting_view">
    <div class="view_change">
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle
          value="map"
          aria-label="Text align left"
          matTooltip="Vista de Mapa"
        >
          <mat-icon>map</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          value="table"
          aria-label="Text align center"
          matTooltip="Vista de Tabla"
        >
          <mat-icon>table_view</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          value="chart"
          aria-label="Text align center"
          matTooltip="Vista de Gráfico"
        >
          <mat-icon>show_chart</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="select_insight">
      <mat-form-field appearance="fill">
        <mat-label>Detalles</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>Ninguno</mat-option>
          <mat-option value="province">Provincias</mat-option>
          <mat-option value="municipality">Municipio</mat-option>
        </mat-select>
      </mat-form-field>
      <p>You selected: {{ selected }}</p>
    </div>
    <div class="details">
      <h1 name="total">Casos Totales</h1>
      <label for="total">Casoso to</label>
      <h3 name="curados">Casos curados</h3>
      <label for="curados">Casoso curados</label>
    </div>
  </div>
  <div class="data_view">hola</div>

  <!-- <mat-grid-list cols="4" rows="2" rowHeight="100px">
    <mat-grid-tile class="setting_view" [colspan]="1">
      
    </mat-grid-tile>
    <mat-grid-tile class="data_view" [colspan]="3" [rowspan]="2">
      <div>hola</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
     </mat-grid-tile
    >
  </mat-grid-list> -->
</div>
