.logged {
  justify-content: space-between;
  background-color: white;
}
.btnizq{
  background-color: #deae4a;
  margin-right: 1%;
  color: #313947;
}
.btnder{
  //background-color: #757F8E;
  background-color: #313947;
  //color: #757F8E;
  color: white;
}