<mat-toolbar class="topbar header logged" *ngIf="logged">
  <div class="hello_user">
    <h4 class="usuario">Hola, {{ this.username }}</h4>
  </div>
  <div class="user_btn">
    <button
      mat-icon-button
      matTooltip="Notifications"
      [style.overflow]="'visible'"
    >
      <mat-icon class="maticon">notifications</mat-icon>
      <span class="notification-number mat-bg-warn">1</span>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="settingMenu"
      matTooltip="Settings"
      [style.overflow]="'visible'"
    >
      <mat-icon class="maticon">settings</mat-icon>
    </button>

    <mat-menu #settingMenu="matMenu" class="matmenuestilo">
      <button mat-menu-item class="btnizq">
        <mat-icon class="maticon_nav">notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
      <button mat-menu-item (click)="btnLogout()" class="btnizq">
        <mat-icon class="bl" >exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>

    <button mat-icon-button class="img-button">
      <img src="assets/images/4.jpg" alt="" />
    </button>
  </div>
</mat-toolbar>
<mat-toolbar class="topbar header unlogged" *ngIf="!logged">
  <button mat-raised-button (click)="btnLogin()" class="btnizq">
    Iniciar Sesion
  </button>
  <button mat-raised-button (click)="btnSignup()" class="btnder">Registrarse</button>
</mat-toolbar>
