<h1>Recomendaciones oficiales</h1>
<mat-tab-group>
  <mat-tab >
    <ng-template mat-tab-label class="name">¿Qué es el covid - 19?</ng-template>
    <table>
      <tr>
        <td>
            <p>La Covid-19 es la enfermedad causada por el nuevo coronavirus conocido como SARS - COV - 2.
              Ambos fueron descubiertos en la ciudad de Wuhan (China)en diciembre de 2019.
              Actualmente el COVID-19 es una pandemia que afecta a muchos países de todo el mundo, incluido Bolivia
            </p>
        </td>
        <td>
          <img src="assets/images/informacion.png" width="150px" height="150px" />
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label class="name">¿Cómo se transmite?</ng-template>
    <table>
      <tr>
          <td>
              <img src="assets/images/informacion.png" width="150px" height="150px" />
            </td>
        <td>
            <p>Si tiene síntomas que apuntan a la COVID-19, póngase en contacto con su dispensador de atención de salud o la línea de asistencia contra la COVID-19, para que le den instrucciones y averiguar cuándo y cómo hacerse una prueba, quédese en casa durante 14 días lejos de otras personas y vigile su salud.

              Si tiene dificultades para respirar o dolor u opresión en el pecho, busque atención médica inmediatamente. Llame a su dispensador de atención de salud o a la línea de asistencia con antelación para que le dirijan hacia el centro de salud adecuado.
              
              Si vive en una zona con paludismo o dengue, busque atención médica si tiene fiebre.
              
              Si en las orientaciones de su zona se recomienda que acuda a un centro médico para hacerse una prueba, evaluar su situación o aislarse, póngase una mascarilla médica en los desplazamientos hacia o desde el centro y durante la visita médica. Asimismo, mantenga al menos un metro de distancia de otras personas y no toque las superficies con las manos.  Estas recomendaciones se aplican a adultos y niños.
            </p>
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label class="name">¿Cuáles son sus síntomas?</ng-template>
    <table>
      <tr>
        <td>
            <p>Entre las personas que desarrollan síntomas, la mayoría (alrededor del 80%) se recuperan de la enfermedad sin necesidad de recibir tratamiento hospitalario. Alrededor del 15% desarrollan una enfermedad grave y requieren oxígeno y el 5% llegan a un estado crítico y precisan cuidados intensivos.

              Entre las complicaciones que pueden llevar a la muerte se encuentran la insuficiencia respiratoria, el síndrome de dificultad respiratoria aguda, la septicemia y el choque septicémico, la tromboembolia y/o la insuficiencia multiorgánica, incluidas las lesiones cardíacas, hepáticas y renales.
              
              Rara vez, los niños pueden manifestar un síndrome inflamatorio grave unas semanas después de la infección.
            </p>
        </td>
        <td>
          <img src="assets/images/informacion.png" width="150px" height="150px" />
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label class="name">¿Que hacer si soy positivo?</ng-template>
    <table>
      <tr>
          <td>
              <img src="assets/images/informacion.png" width="150px" height="150px" />
            </td>
        <td>
            <p>Las personas de más de 60 años y las que padecen afecciones médicas subyacentes, como hipertensión arterial, problemas cardíacos o pulmonares, diabetes, obesidad o cáncer, corren un mayor riesgo de presentar cuadros graves. 

              Sin embargo, cualquier persona, a cualquier edad, puede enfermar de COVID-19 y presentar un cuadro grave o morir.  
            </p>
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label class="name">¿Que hacer si un familiar es positivo?</ng-template>
    <table>
      <tr>
        <td>
            <p>Algunas personas que han padecido la COVID-19, tanto si han necesitado atención hospitalaria como si no, siguen experimentando síntomas, entre ellos fatiga y diversos síntomas respiratorios y neurológicos.
              En la OMS estamos trabajando con nuestra Red técnica mundial para la gestión clínica de la COVID-19, así como con investigadores y grupos de pacientes de todo el mundo, para diseñar y llevar a cabo estudios 
              que vayan más allá del estadio inicial agudo de la enfermedad, con el fin de determinar el porcentaje de pacientes que sufren efectos a largo plazo, el tiempo que persisten y la razón por la que se producen. Estos estudios se utilizarán para desarrollar nuevas orientaciones de cara a la atención de los pacientes. 
            </p>
        </td>
        <td>
          <img src="assets/images/informacion.png" width="150px" height="150px" />
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label class="name">¿Que grupos son vulnerables?</ng-template>
    <table>
      <tr>
          <td>
              <img src="assets/images/informacion.png" width="150px" height="150px" />
            </td>
        <td>
            <p>Todas las personas que presenten síntomas deben hacerse la prueba, en la medida de lo posible. Las personas que sean asintomáticas pero que hayan estado en contacto estrecho con alguien que esté o pueda estar infectado también pueden considerar la posibilidad de hacerse la prueba; consulte las directrices sanitarias locales y siga sus indicaciones.  

              Cuando una persona esté a la espera de los resultados de la prueba, debe permanecer aislada de los demás. Si la capacidad de realizar pruebas es limitada, las pruebas deberían reservarse en primer lugar para quienes corren mayor riesgo de infección, como el personal de salud, y las personas con mayor riesgo de presentar un cuadro grave, como las personas mayores, especialmente las que viven en residencias de mayores o en centros de atención de larga estancia.
            </p>
        </td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>
