.name{
    color: #757F8E;
    
}
.name:hover{
    color: #deae4a;
}
.grid_container {
    display: grid;
    grid-template-areas:
      "header header header header header header"
      "settings data data data data data"
      "footer footer footer footer footer footer";
    grid-gap: 10px;
    padding: 10px;
  }
  
  .cases {
    color: #2c2828;
    font-size: 50px;
  }
  .deaths {
    color: red;
    font-size: 30px;
  }
  .recovered {
    color: rgb(58, 250, 0);
    font-size: 30px;
  }
  .actives {
    color: rgb(8, 123, 255);
    font-size: 30px;
  }
  label {
    font-size: 20px;
  }
  .map_view {
    width: 100%;
    height: 100%;
  }
  .chart_view {
    width: 100%;
    height: 100%;
  }
  .table_view {
    width: 100%;
    height: 100%;
  }
  .view_change {
    margin: 5px;
    margin-top: 10px;
  }
  .data_view {
    grid-area: data;
    padding: 10px;
    margin: 15px;
    height: 650px;
    width: 1200px;
  }
  .setting_view {
    padding: 8%;
    grid-area: settings;
    margin: 10px;
    width: 300px;
  }
  .details {
    text-align: center;
  }
  .btnizq{
    background-color: #deae4a;
    margin-right: 1%;
    color: #313947;
  }
  .no_data{
    text-align: center;
  }
  .tabla{
    margin-top: 5%;
    margin-left: 25%;
    text-align: center;
    align-items: center;
  }
  .adv1{
    margin-top: 5px;
    color: #deae4a;
  }
  .adv2{
    color: #313947;
  }
  

  