.container {
  background-color: #fff;
  padding: 2%;
}
.tab {
  padding: 5px;
}
.table_component_container {
  padding: 4%;
  position: relative;
  min-height: 200px;
}
table {
  width: 100%;
}
.table_container {
  position: relative;
  height: 400px;
  overflow: auto;
}

.buttons_configs {
  margin: 10px;
}
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bolivia_container {
  padding: 2%;
}

.progress{
  text-align: center;
}
.tabla{
  margin-top: 5%;
  margin-left: 25%;
  text-align: center;
  align-items: center;
}
.adv1{
  margin-top: 5px;
  color: #deae4a;
}
.adv2{
  color: #313947;
}

