.ini {
  //background-color: #313947;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.image {
  align: center;
}
.title2 {
  //color: #313947;
  color: #deae4a;
  text-align: center;
}
.form-letter {
  color: #313947;
  //color: #DEAE4A;
}
.form-input {
  color: #313947;
  //color: #DEAE4A;
}
.btnizq {
  background-color: #deae4a;
  margin-right: 5%;
  color: #313947;
}
.btnder {
  //background-color: #757F8E;
  background-color: #313947;
  //color: #757F8E;
  color: white;
}
.primer1 {
  //background-color: red;
}
.buttons {
  display: flex;
  //background-color: salmon;
}
