.btn {
  background-color: $color-primary-blue !important;
  &:link,
  &:visited {

    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: 1.6rem;
    /* for the padding and space */
    position: relative;

  }
  &:hover {
    transform: translateY(0px);
    //box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    // xdirectioin ydirection blur color/


  }
  // when we click at the bottom /
  &:active {
    transform: translateY(0px);
    //box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;

    }
  }
  &::after {
    content: "";
    // always using ::before or ::after /
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &-animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    // name duration function delay /
    animation-fill-mode: backwards;

    // apply styles in 0 , effect to bottom in backwards **/
  }
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 8px 5px #c0c0f8;
}