.table_component_container {
  padding: 4%;
  position: relative;
  min-height: 200px;
}
table {
  width: 100%;
}
.table_container {
  position: relative;
  height: 400px;
  overflow: auto;
}

.buttons_configs {
  margin: 10px;
}
