<h1>Preguntas frecuentes sobre la vacuna</h1>
<mat-tab-group>
  <mat-tab >
    <ng-template mat-tab-label class="name">¿Por qué es importante la vacuna contra el covid-19?</ng-template>
    <table>
      <tr>
        <th colspan="2">
          <h1>¿Por qué es importante la vacuna contra el covid-19?</h1>
        </th>
      </tr>
      <tr>
        <td>
            <p>El COVID-19 puede acarrear complicaciones graves que ponen en riesgo la vida, y no hay forma de saber cómo lo afectará el COVID-19 a usted en particular. Además, si se enferma podría contagiar la enfermedad a amigos, familiares y a otras personas de su entorno.
              Los ensayos clínicos de todas las vacunas primero deben demostrar que son seguras y efectivas, y recién después se puede autorizar o aprobar su uso. Esto es válido también para las vacunas contra el COVID-19. Los beneficios posibles y conocidos de una vacuna contra el COVID-19 deben superar los riesgos conocidos o posibles de la vacuna, antes de usarla en virtud de los que se conoce como Autorización de Uso de Emergencia (EUA, por sus siglas en inglés). Vea un video que explica qué es una EUA.
              Contraer el COVID-19 puede darle algo de protección, que se conoce como inmunidad natural. </p>
        </td>
        <td>
          <img src="assets/images/vacuna.png" width="300px" height="300px" />
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label class="name">Su vacunación contra el COVID-19</ng-template>
    <table>
      <tr>
        <th colspan="2">
          <h1>Su vacunación contra el COVID-19</h1>
        </th>
      </tr>
      <tr>
          <td>
              <img src="assets/images/vacuna2.png" width="300px" height="300px" />
            </td>
        <td>
            <p>Las vacunas contra el COVID-19 son seguras y efectivas.
              Los CDC recomiendan que se vacune contra el COVID-19 tan pronto como sea elegible.
              Las personas con la vacuna completa pueden comenzar a hacer algunas cosas que habían dejado de hacer a causa de la pandemia.</p>
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label class="name">¿Cuál es el cronograma de vacunación?</ng-template>
    <table>
      <tr>
        <th colspan="2">
          <h1>¿Cuál es el cronograma de vacunación?</h1>
        </th>
      </tr>
      <tr>
        <td>
            <p>Entre las personas que desarrollan síntomas, la mayoría (alrededor del 80%) se recuperan de la enfermedad sin necesidad de recibir tratamiento hospitalario. Alrededor del 15% desarrollan una enfermedad grave y requieren oxígeno y el 5% llegan a un estado crítico y precisan cuidados intensivos.

              Entre las complicaciones que pueden llevar a la muerte se encuentran la insuficiencia respiratoria, el síndrome de dificultad respiratoria aguda, la septicemia y el choque septicémico, la tromboembolia y/o la insuficiencia multiorgánica, incluidas las lesiones cardíacas, hepáticas y renales.
              
              Rara vez, los niños pueden manifestar un síndrome inflamatorio grave unas semanas después de la infección.
            </p>
        </td>
        <td>
          <img src="assets/images/cronograma.png" width="300px" height="300px" />
        </td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>