<h1>Preguntas frecuentes</h1>

<div class="wrap">
    <ul class="tabs">
        <li><a href="#tab1"><span class="fa fa-home"></span><span class="tab-text">¿Por qué es importante la vacuna contra el covid-19?</span></a></li>
        <li><a href="#tab2"><span class="fa fa-group"></span><span class="tab-text">¿Quiénes tienen prioridad para recibir la vacuna?</span></a></li>
        <li><a href="#tab3"><span class="fa fa-briefcase"></span><span class="tab-text">¿Cuál es el cronograma de vacunación?</span></a></li>
    </ul>

    <div class="secciones">
        <article id="tab1">
            <h1>¿Por qué es importante la vacuna contra el covid-19?</h1>
            <table>
                <tr>
                    <td>
                        <img src="assets/images/informacion.png" width="150px" height="150px" />
                      </td>
                  <td>
                      <p>La Covid-19 es la enfermedad causada por el nuevo coronavirus conocido como SARS - COV - 2.
                        Ambos fueron descubiertos en la ciudad de Wuhan (China)en diciembre de 2019.
                        Actualmente el COVID-19 es una pandemia que afecta a muchos países de todo el mundo, incluido Bolivia
                      </p>
                  </td>
                </tr>
              </table>
        </article>
        <article id="tab2">
            <h1>¿Quiénes tienen prioridad para recibir la vacuna?</h1>
            <table>
                <tr>
                  <td>
                      <p>La Covid-19 es la enfermedad causada por el nuevo coronavirus conocido como SARS - COV - 2.
                        Ambos fueron descubiertos en la ciudad de Wuhan (China)en diciembre de 2019.
                        Actualmente el COVID-19 es una pandemia que afecta a muchos países de todo el mundo, incluido Bolivia
                      </p>
                  </td>
                  
                  <td>
                    <img src="assets/images/informacion.png" width="150px" height="150px" />
                  </td>
                </tr>
              </table>
        </article>
        <article id="tab3">
            <h1>¿Cuál es el cronograma de vacunación?</h1>
            <table>
                <tr>
                    <td>
                        <img src="assets/images/informacion.png" width="150px" height="150px" />
                      </td>
                  <td>
                      <p>La Covid-19 es la enfermedad causada por el nuevo coronavirus conocido como SARS - COV - 2.
                        Ambos fueron descubiertos en la ciudad de Wuhan (China)en diciembre de 2019.
                        Actualmente el COVID-19 es una pandemia que afecta a muchos países de todo el mundo, incluido Bolivia
                      </p>
                  </td>
                </tr>
              </table>  
        </article>
    </div>
</div>
