.link__icon{
    margin-left: 10px;
    color: #757F8E !important;
}
.link__text{
    margin-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #757F8E;
}
.svgIcon{
    color: aqua !important;
    fill: aqua !important;
}
