<mat-nav-list class="sidebar__list">
  <!-- <div class="sidebar-brand">
    <img
      src="assets/images/logopngmd1.png"
      alt=""
      width="210px"
      height="50px"
    />
  </div> -->

  <a
    *ngIf="userRole[0] == 'ROLE_ADMIN'"
    class="link"
    mat-list-item
    routerLinkActive="active"
    routerLink="/admin"
    ><mat-icon class="link__icon">home</mat-icon
    ><span class="link__text">Inicio</span></a
  >
  <a
    *ngIf="userRole[0] != 'ROLE_ADMIN'"
    class="link"
    mat-list-item
    routerLinkActive="active"
    routerLink="/inicio"
    ><mat-icon class="link__icon">home</mat-icon
    ><span class="link__text">Inicio</span></a
  >
  <a
    *ngIf="userRole[0] == 'ROLE_ADMIN'"
    class="link"
    mat-list-item
    routerLinkActive="active"
    routerLink="admin/datasets"
    ><mat-icon class="link__icon">data_usage</mat-icon
    ><span class="link__text">Datasets</span></a
  >
  <a class="link" mat-list-item routerLinkActive="active" routerLink="/noticias"
    ><mat-icon class="link__icon">article</mat-icon
    ><span class="link__text">Noticias</span></a
  >
  <a class="link" mat-list-item routerLinkActive="active" routerLink="/bolivia"
    ><mat-icon class="link__icon">travel_explore</mat-icon
    ><span class="link__text">Bolivia</span></a
  >
  <a class="link" mat-list-item routerLinkActive="active" routerLink="/mundo"
    ><mat-icon class="link__icon">public</mat-icon
    ><span class="link__text">Mundo</span></a
  >
</mat-nav-list>
