<!--mat-grid-list cols="3" rowHeight="2:1.4"-->
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="continicio">
    </mat-grid-tile>
    <mat-grid-tile class="continicio">
    </mat-grid-tile>
    <mat-grid-tile class="continicio">
    </mat-grid-tile>
    <mat-grid-tile class="continicio">
       

    </mat-grid-tile>
    .
    <!--<mat-grid-tile class="continicio">
    <mat-spinner></mat-spinner>  
    </mat-grid-tile>
    <mat-grid-tile class="continicio">
        <div class="table_container">
            <table class="table" mat-table [dataSource]="dataSource" matSort>
              <ng-container
                [matColumnDef]="column"
                *ngFor="let column of displayedColumns"
              >
                <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">
                  No se encontro nada con: "{{ search.value }}"
                </td>
              </tr>
            </table>
          </div>
    </mat-grid-tile>-->
  </mat-grid-list>