.grid_container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "settings settings total deaths recovered actives"
    "data data data data data data";
  grid-gap: 5px;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.view_change {
  grid-area: settings;
  margin: 5px;
  margin-top: 10px;
}
.total {
  grid-area: total;
}
.cases_text {
  color: #2c2828;
  font-size: 40px;
}
.deaths {
  grid-area: deaths;
}
.deaths_text {
  color: red;
  font-size: 40px;
}
.recovered {
  grid-area: recovered;
}

.recovered_text {
  color: rgb(58, 250, 0);
  font-size: 40px;
}
.actives {
  grid-area: actives;
}
.actives_text {
  color: rgb(8, 123, 255);
  font-size: 40px;
}
label {
  font-size: 20px;
}
#worldMap {
  height: 100%;
  width: 100%;
}

.map_view {
  width: 100%;
  height: 100%;
}
.select_insight {
  margin: 5px;
  margin-top: 25px;
}
.grid_hearder {
  grid-area: header;
}
.data_view {
  grid-area: data;
  padding: 2%;
}
